* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.to-do {
  background-color: rgb(255, 208, 190);
  width: 250px;
  height: 30px;
  outline: auto;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-text {
  color: black;
  flex-grow: 4;
  margin-left: 4px;
}
.false {
  background-color: rgb(209, 209, 209);
  width: 25px;
  height: 25px;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  font-size: 16px;
  margin-left: 4px;
}
.true {
  background: url("./img/tick.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: white;
  width: 25px;
  height: 25px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0px;
  font-size: 16px;
  margin-left: 4px;
}
.bin-button {
  width: 25px;
  height: 25px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 0px;
  font-size: 16px;
  margin-right: 4px;
}
