* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}
.title {
  font-size: 48px;
  text-align: left;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  to {
    text-shadow: 0 0 10px rgb(114, 187, 255), 0 0 20px aliceblue,
      0 0 30px rgb(172, 220, 248), 0 0 40px rgb(194, 233, 255),
      0 0 50px aliceblue, 0 0 60px lightskyblue, 0 0 70px blue;
  }
}

input {
  background-color: aliceblue;
  border: none;
  margin-bottom: 8px;
  height: 25px;
  width: 298px;
  color: #000;
}
.due-date-input {
  width: 208px;
  margin-right: 4px;
  color:#000;
}

button {
  background-color: aliceblue;
  border: none;
  border-radius: 20%;
  color: black;
  height: 27px;
  width: 27px;
}
.add-button {
  border-radius: 0%;
  background-color: rgb(255, 244, 158);
  width: 85px;
}
.add-button:hover {
  background-color: rgb(104, 97, 0);
  color: white;
}
.to-do-container {
  margin-top: 7px;
}
.to-do {
  background-color: rgb(194, 233, 255);
  width: 300px;
  height: 40px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-text {
  color: black;
  background-color: rgb(194, 233, 255);
  flex-grow: 4;
  margin-left: 4px;
}
.false {
  background-color: rgb(209, 209, 209);
  color: rgb(209, 209, 209);
  width: 25px;
  height: 25px;
  margin: 6px;
}
.false:hover {
  background-color: grey;
  color: grey;
}
.true {
  /* background: url("./img/tick.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 100%; */
  background-color: rgb(14, 99, 42);
  font-size: 20px;
  color: white;
  width: 25px;
  height: 25px;
  margin: 6px;
}
.bin-button {
  background-color: rgb(255, 255, 255);
  color: red;
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 0px;
  font-size: 16px;
  margin: 7px;
}
.bin-button:hover {
  background-color: red;
  color: white;
}

.edit-button {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 0px;
  font-size: 16px;
  margin: 7px;
}

.delete-completed {
  background-color: rgb(31, 30, 30);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0%;
  margin-bottom: 10px;
  height: 25px;
  width: 150px;
}
.delete-completed:hover {
  background-color: rgb(98, 2, 2);
  color: white;
}

.footer {
  font-size: 10px;
  color: darkgrey;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
